<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honeywell.hch.airtouch"
    android:versionCode="32"
    android:versionName="2.0.2">

    <!-- used for network location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- used for access GPS location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- access wifi info used for network location -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Push service  -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.honeywell.hch.airtouch" />

    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.honeywell.hch.airtouch"
        android:protectionLevel="normal"></permission>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".HPlusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity
            android:name=".ui.splash.StartActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.ui.common.MainActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.main.ui.me.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.main.ui.me.SelectCityActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.main.ui.me.AboutActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>SwitchEnvActivity
        <activity
            android:name=".ui.main.ui.me.feedback.FeedBackActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.quickaction.ui.QuickActionActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.emotion.ui.controller.EmotionActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.emotion.ui.controller.EmotionActivity_new"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.emotion.ui.controller.EmotionChartActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.control.ui.device.controller.DeviceControlActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.help.DeviceControlHelpActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.help.ManualActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.control.ui.group.controller.GroupControlActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden"></activity>
        <activity
            android:name=".ui.schedule.controller.ArriveHomeActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.notification.ui.LeakDialogActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/transcutestyle"></activity>
        <activity
            android:name=".ui.update.ui.UpdateVersionMinderActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"></activity>
        <activity
            android:name=".ui.userinfo.ui.login.UserLoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity
            android:name=".ui.userinfo.ui.login.MobileGetSmsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity
            android:name=".ui.userinfo.ui.login.MobileDoneActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity
            android:name=".ui.userinfo.ui.changepassword.ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity
            android:name=".ui.homemanage.ui.controller.HomeManagementActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.homemanage.ui.controller.UserAddHomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>


        <activity
            android:name=".ui.trydemo.ui.TryDemoMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".ui.userinfo.ui.forgetpassword.ForgetPasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".ui.enroll.ui.controller.ap.EditGPSActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".ui.enroll.ui.controller.ap.ApEnrollChoiceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.enroll.ui.controller.ap.ApEnrollModelChoiceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.enroll.ui.controller.ap.ApActivateDeviceWifiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.enroll.ui.controller.ap.ApPhoneToDeviceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.enroll.ui.controller.ap.ApEnrollConnectWifiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.enroll.ui.controller.ap.ApConnectDeviceToInternetActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.smartlink.SmartlinkConnectDeviceToInternetActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.weather.WeatherActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.smartlink.SmartLinkActivateDeviceWifiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.beforeplay.EnrollDeviceInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.enroll.ui.controller.beforeplay.EnrollHelpActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.afterplay.EnrollSelectedLocationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".ui.enroll.ui.controller.afterplay.EnrollNameYourDeviceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".ui.enroll.ui.controller.afterplay.EnrollRegiterDeviceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.afterplay.EnrollResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.ap.ApSendWifiInfoErrorActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.enroll.ui.controller.common.RetryCheckDeviceIsOnlineActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.smartlink.SmartlinkSendWifiInfoFailedActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.madair.MadAirEnrollTurnOnActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.madair.MadAirEnrollPairingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
        android:name=".ui.enroll.ui.controller.madair.MadAirEnrollNameDeviceActivity"
        android:configChanges="keyboardHidden|orientation"
        android:launchMode="singleTask"
        android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.madair.MadAirEnrollFinishActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.madair.MadAirEnrollManualSelectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.enroll.ui.controller.madair.MadAirEnrollPairFailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.authorize.ui.controller.list.AuthorizeListActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.authorize.ui.controller.group.AuthorizeGroupDeviceListActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.authorize.ui.controller.invite.AuthorizeInviteUserActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authorize.ui.controller.invite.AuthorizeChoosePermissionActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authorize.ui.controller.invite.AuthorizeSendInvitationActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authorize.ui.controller.edit.AuthorizeOwnerEditActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authorize.ui.controller.edit.AuthorizeReceiverEditActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.ui.messagecenter.MessageHandleActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tutorial.controller.TutorialActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trydemo.ui.TryDemoAllDeviceActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.ui.controller.TestActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.enroll.ui.controller.beforeplay.EnrollScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.debug.SwitchEnvActivity"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <service android:name=".ui.service.TimerRefreshService">
            <intent-filter>
                <action android:name="com.honeywell.air.app.service.DeviceRunStatusService" />
            </intent-filter>
        </service>

        <service
            android:name=".plateform.ble.service.BluetoothLeService"
            android:enabled="true"/>

        <!-- <receiver android:name=".receiver.MorningAlarmReceiver"/> -->
        <!-- <receiver android:name=".receiver.NightAlarmReceiver"/> -->
        <receiver android:name=".ui.notification.manager.baidupushreceiver.ChangeLanguageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.notification.manager.baidupushreceiver.NotificationReceiver"
            android:exported="true" />
        <receiver
            android:name=".plateform.timereceive.MorningAlarmReceiver"
            android:process=":remote" />
        <receiver
            android:name=".plateform.timereceive.NightAlarmReceiver"
            android:process=":remote" />

        <receiver android:name=".plateform.timereceive.CheckUpdateReceiver"></receiver>
        <!-- baidu location -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- baidu pushreceiver declare -->
        <receiver android:name=".ui.notification.manager.baidupushnotification.BaiduPushMessageReceiver">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />

        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.honeywell.hch.airtouch.bdpush"
            android:exported="true"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.honeywell.hch.airtouch" />

        <meta-data
            android:name="com.baidu.push.API_KEY"
            android:value="@string/push_api_key" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baidu_lbsapi_key" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_key" />


        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <meta-data
            android:name="DEV_ENVIRONMENT"
            android:value="@string/dev_environment_key" />

    </application>

</manifest>
